@import "globals.scss";

.homepage {
  .container {
    > .row {
      > .feed {
        > h2 {
          font-family: "Poppins";
          margin-bottom: 20px;
        }
      }
    }
  }
}

.homepage_dark {
  .container {
    > .row {
      > .feed {
        > h2 {
          color: $textHeading;
        }
      }
    }
  }
}

.homepage_light {
  .container {
    > .row {
      > .feed {
        > h2 {
          color: $darkGrey;
        }
      }
    }
  }
}
