@import "globals.scss";
.navbar {
  .container {
    max-width: 1200px;

    a {
      text-decoration: none;
      color: unset;
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 1.8rem;
    }
    .navbar-nav {
      .dark-mode-switch {
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.navbar_dark {
  border-bottom: 2px solid $grey;

  background-color: $black;
  color: $textHeading;
  .navbar_brand {
    color: $textHeading;
  }
  .navbar-nav {
    .dark-mode-switch {
      background-color: $darkGrey;
      .icon {
        color: $textGrey;
      }
    }
  }
}

.navbar_light {
  border-bottom: 1px solid $darkGrey;
  background-color: $white;
  color: $black;
  .navbar_brand {
    color: #1e1e1e;
  }
  .navbar-nav {
    .dark-mode-switch {
      background-color: $textGrey;
      .icon {
        color: $black;
      }
    }
  }
}
