@import "globals.scss";
.navbar {
  a {
    text-decoration: none;
    color: unset;
  }
}

.navbar_dark {
  border-bottom: 2px solid black;

  background-color: $black;
  color: #eee;
  .navbar_brand {
    color: #eee;
  }
}

.navbar_light {
  border-bottom: 1px solid #1e1e1e;

  background-color: $white;
  color: #1e1e1e;
  .navbar_brand {
    color: #1e1e1e;
  }
}
