.navbar {
  a {
    text-decoration: none;
    color: unset;
  }
}

.navbar_dark {
  background-color: black;
  color: #eee;
  .navbar_brand {
    color: #eee;
  }
}

.navbar_light {
  background-color: #eee;
  color: #1e1e1e;
  .navbar_brand {
    color: #1e1e1e;
  }
}
